/* Container for the entire profile card */
.profile-card {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: white;
    height: 228px;
    border-radius: 20px;
    margin: 20px 0 20px 0;
    // max-width: 800px;
    // margin: 20px;
}

/* Profile picture styling */
.profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 13%;
    object-fit: cover;
}

/* Profile details container */
.profile-details {
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Name styling */
.profile-name {
    font-size: 22px;
    font-weight: bold;
    color: #4a4a4a;
    margin-bottom: 10px;
}

/* Icons container */
.profile-icons {
    display: flex;
    gap: 10px;
}

/* Individual icon styling */
.icon {
    width: 30px;
    height: 30px;
}
