.ai-profile-card {
    padding: 20px;
    background-color: #DFECF2;
    height: 356px;
    border-radius: 20px;
    max-width: 800px;
    margin: 20px;

    h3 {
        margin-left: 10%;
        margin-top: 5%;
    }
}