<div class="ai-profile-card">
    <div class="ai-infos">
        <p class="profile-name">AI Teacher Assistance</p>
        <div class="ai-items">
            <img class="ai-icon" src="assets/icons/ai-1.svg"> <p> Students who need to contact their parents</p>
        </div>
        <ul>
            <div class="ai-items-name">
                <li class="name">John Smith </li> <img src="assets/icons/information.svg">
            </div>
            <div class="ai-items-name">
                <li class="name">Martha Sae </li> <img src="assets/icons/information.svg">
            </div>
        </ul>
        <div class="ai-items">
            <img class="ai-icon" src="assets/icons/ai-2.svg"> <p> Remember that tomorrow <span class="important-notice">Class 5 - Math has an exam</span></p>
        </div>
        <div i class="ai-items">
            <img class="ai-icon" src="assets/icons/ai-2.svg"> <p> Remember that tomorrow <span class="important-notice">Class 5 - Sci has an exam</span></p>
        </div>
    </div>
</div>