<div class="form-card">
    <div class="logo">
        <img src="assets/images/logo.png" alt="dreametrix logo">
    </div>
    <form>
        <div class="account-stage">
            <span>Sign up</span>
        </div>
        <div class="form-group">
            <div class="input-with-icon">
                <img class="icon" src="assets/icons/username.svg" width="24" height="24">
                <span class="vertical-bar"></span>
                <input type="text" placeholder="Username" required>
            </div>
        </div>
        <div class="form-group">
            <div class="input-with-icon">
                <img class="icon" src="assets/icons/username.svg" width="24" height="24">
                <span class="middle-vertical-bar"></span>
                <select>
                    <option value="" disabled selected>Role</option>
                    <option>Teacher</option>
                    <option>Principal</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="input-with-icon">
                <img class="icon" src="assets/icons/password.svg" width="24" height="24">
                <span class="vertical-bar"></span>
                <input type="password" placeholder="Password" required>
            </div>
        </div>
        <div class="form-group">
            <button>SIGN UP</button>
        </div>
    </form>
</div>    
   