<div class="form-card">
    <div class="logo">
        <img src="assets/images/logo.png" alt="dreametrix logo">
    </div>
    <form>
        <div class="account-stage">
            <span>Sign up</span>
        </div>
        <div class="form-group">
            <mat-form-field appearance="outline" class="form-field">
                <span matTextPrefix><img src="assets/icons/username.svg" width="24" height="24"></span>
                <span class="vertical-bar"></span>
                <input matInput placeholder="Username">
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field appearance="outline" class="form-field">
                <span matTextPrefix><img src="assets/icons/username.svg" width="24" height="24"></span>
                <span class="vertical-bar"></span>
                <input matInput placeholder="Role">
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field appearance="outline" class="form-field">
                <span matTextPrefix><img src="assets/icons/password.svg" width="24" height="24"></span>
                <span class="vertical-bar"></span>
                <input matInput placeholder="Password">
            </mat-form-field>
        </div>
        <div class="form-group">
            <button>SIGN UP</button>

            <div class="login-proposal">
                <span>Already registered? Login here</span>
            </div>
        </div>
    </form>
</div>    
   