<div class="profile-card">
    <p class="profile-title">Profile</p>
    <div class="profile">
        <img src="assets/profil.jpg" alt="Profile Picture" class="profile-pic" />
        <div class="profile-details">
            <p class="profile-name">Sarah Young</p>
        </div>
    </div>
    <div>
        <div class="form-group">
            <label class="input input-bordered flex items-center gap-2 rounded-full">
                <input class="w-1/2" type="text" placeholder="Username" id="username" name="email" ngModel required/>
                <input class="w-1/2" type="text" placeholder="Email" id="email" name="email" ngModel required/>
            </label>
        </div>
    </div>
</div>
