<div class="form-card">
    <div class="logo">
        <img src="assets/images/logo.png" alt="dreametrix logo">
    </div>
    <app-loader [isLoading]="isLoading"></app-loader>
    <form class="login-page" (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
        <div class="account-stage">
            <span>Midland School Login</span>
        </div>
        <div class="form-group">
            <label [ngClass]="{ 'border-color': formSubmitted && loginForm.controls['email'].invalid }" class="input input-bordered flex items-center gap-2 rounded-full">
                <object type="image/svg+xml" data="assets/icons/username.svg"></object>
                <input type="email" placeholder="email" id="email" name="email" ngModel required/>
            </label>
        </div>
        <div class="form-group">
            <label [ngClass]="{ 'border-color': formSubmitted && loginForm.controls['password'].invalid }" class="input input-bordered flex items-center gap-2 rounded-full">
                <object type="image/svg+xml" data="assets/icons/password.svg"></object>
                <input type="password" placeholder="Password" id="password" name="password" ngModel required />
            </label>
        </div>
        <div class="forgot-password">
            <a href="#">Forgot Password?</a>
        </div>
        <div class="form-group">
            <button class="btn w-64 rounded-full">LOGIN</button>

            <div class="proposal">
                <span>Not registered yet? Sign up <a routerLink="/registration">here</a></span>
            </div>
        </div>
    </form>
</div>
