// Variables to reduce manual rule definition repetition
$color-style: #27AAE1;
$font-size: 15pt;
$font-family: Helvetica, "serif", "sans-serif";

// Mixins to reduce css block repetition
@mixin border-style {
    border: none;
    border-radius: 30px;
    font-size: $font-size;
}


.form-card {
    border-radius: 20px;
    background-color: rgba(239, 234, 234, 0.794);
    width: 100%;
    max-width: 574px;
    margin-left: auto;
    margin-right: auto;

    .logo {
        padding-top: 55px;
        margin-bottom: 85px;

        img {
            width: 194px;
            height: 69.36px;
            margin-right: auto;
            margin-left: auto;
        }
    }

    span {
        color: $color-style;
        font-size: $font-size;
        font-family: $font-family;
    }

    .account-stage {
        margin-left: 63px;
    }

    .forgot-password {
        text-align: right;
        margin: 12px 66px 10px 0;
        cursor: pointer;
    }

    .form-group {
        margin-top: 17px;
        text-align: center;
    
        input {
            padding: 10px;
            width: 78%;
            box-sizing: border-box;
            font-family: $font-family;
            @include border-style;
        }
    }
    
    .form-group:last-child {
        padding-bottom: 114px;

        button {
            margin-top: 13px;
            width: 78%;
            color: #fff;
            font-family: $font-family;
            background-color: $color-style;
            padding: 10px;
            box-sizing: border-box;
            @include border-style;
        }
    }
}


