<div class="form-card">
    <div class="logo">
        <img src="assets/images/logo.png" alt="dreametrix logo">
    </div>
    <form>
        <div class="account-stage">
            <span>Midland School Login</span>
        </div>
        <div class="form-group">
            <label class="input input-bordered flex items-center gap-2 rounded-full">
                <object type="image/svg+xml" data="assets/icons/username.svg"></object>
                <input type="text" placeholder="Username" required/>
            </label>
        </div>
        <div class="form-group">
            <label class="input input-bordered flex items-center gap-2 rounded-full">
                <object type="image/svg+xml" data="assets/icons/password.svg"></object>
                <input type="password" placeholder="Password" required />
            </label>
        </div>
        <div class="forgot-password">
            <a href="#">Forgot Password?</a>
        </div>
        <div class="form-group">
            <button class="btn w-64 rounded-full">LOGIN</button>
        </div>
    </form>
</div>    
   