// Variables to reduce manual rule definition repetition
$color-style: #00AEEF;
$font-size: 15pt;

// Mixins to reduce css block repetition
@mixin border-style {
    border: none;
    border-radius: 30px;
    font-size: $font-size;
}

.form-card {
    border-radius: 20px;
    margin: 5% auto;
    background-color: rgba(205, 203, 203, 0.5);
    width: 100%;
    max-width: 574px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;

    .logo {
        padding-top: 55px;
        text-align: center;
        margin-bottom: 85px;
    }

    span {
        margin-left: 63px;
        color: $color-style;
        font-size: $font-size;
    }

    .form-group {
        margin-top: 17px;
        text-align: center;
    
        input {
            padding: 10px;
            width: 78%;
            box-sizing: border-box;
            @include border-style;
        }
    }
    
    .form-group:last-child {
        padding-bottom: 114px;

        button {
            margin-top: 56px;
            width: 78%;
            color: #fff;
            background-color: $color-style;
            padding: 10px;
            box-sizing: border-box;
            @include border-style;
        }
    }
}

