@use '@angular/material' as mat;

// Define custom palettes
$blue: mat.define-palette(mat.$indigo-palette, 500);  // Blue
$black: mat.define-palette(mat.$grey-palette, 900);   // Black
$light-grey: mat.define-palette(mat.$grey-palette, 50);  // Light grey (as a replacement for white)

// Create a custom theme with blue as primary and black as accent
$custom-theme: mat.define-light-theme((
  color: (
    primary: $blue,
    accent: $black,
    warn: $light-grey,  // Light grey replaces white for warn
  ),
));

// Apply the custom theme to all Material components
@include mat.all-component-themes($custom-theme);


/* Tailwind should be imported after Angular Material */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Mouhamed global styles */
// html, body {
//   height: 100%;
//   box-sizing: border-box;
//   background-color :  #F5F5F5;
// }

// body {
//   width : inherit;
//   margin :  2% 10% 2% 10%;
//   font-family: Roboto, "Helvetica Neue", sans-serif;
// }

/* Abdou's global styles */
html, body { 
    height: 100%;
}
    
body { 
    margin: 0px;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
    
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

