<div class="form-card">
    <div class="logo">
        <img src="assets/images/logo.png" alt="dreametrix logo">
    </div>
    <form>
        <div class="account-stage">
            <span>Account Login</span>
        </div>
        <div class="form-group">
            <label class="input input-bordered flex items-center gap-2 rounded-full">
                <object type="image/svg+xml" data="assets/icons/school.svg" width="30" height="30"></object>
                <select class="select w-full bg-transparent border-none focus:ring-0 focus:outline-none" required>
                    <option value="" selected disabled>School</option>
                    <option>Midland School</option>
                </select>
            </label>
        </div>
        <div class="forgot-password">
            <a href="#">Forgot Password?</a>
        </div>
        <div class="form-group">
            <button class="btn w-64 rounded-full">NEXT</button>

            <div class="proposal">
                <span>Not registered yet? Sign up <a href="#">here</a></span>
            </div>
        </div>
    </form>
</div>    
   